<div class="home">
    <div class="wrap">
        <div class="content">Content</div>
        <div class="sidebar">Sidebar</div>
    </div>

    <div class="social">
        <ul>
            <li class="social__list-item">abc</li>
            <li class="social__list-item">abc</li>
            <li class="social__list-item">abc</li>
            <li class="social__list-item">efg</li>
            <li class="social__list-item">abc</li>
            <li class="social__list-item">abc</li>
            <li class="social__list-item">abc</li>
            <li class="social__list-item">abc</li>
            <li class="social__list-item">abc</li>
            <li class="social__list-item">abc</li>
        </ul>
    </div>
    
    
    <div class="my-wrapper">   </div>
</div>